.users-sidebar {
  width: 0em;
  height: 100%; 
  background-color: var(--black-3);
  transition: width 200ms ease;
  overflow: hidden;
}

.users-sidebar .title {
  text-align: center;
  margin-top: 10px; 
}

.users-sidebar[data-visible="true"] {
  width: 14em;
}

.users-list {
  padding: 0.5em;
}

.users-list--item {
  padding: 0.6em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background: var(--black-1);
  font-weight: bold;
  list-style-type: none;
}