.username-prompt {
  display: inline-flex;
}

.username-prompt .textinput {
  height: 35px;
  margin-right: 5px;
  padding: 2px 10px;
}

.username-prompt--submit-input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.username-prompt--submit-input:hover {
  border-color: #646cff;
}